/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom right, #242226, #010100, #010100, #242226);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Segoe UI;
}

/* fix the issue with the body background . Credit : BING AI */
html {
    min-height: 100%;
}

th, td {
    padding: 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


@keyframes OpenFadeError {
    from {color: rgba(202, 202, 220, 0);}

    to {color: rgba(255, 100, 100, 1);}
}

@keyframes OpenPage {
    from {color: rgba(202, 202, 220, 0);}

    to {color: rgba(202, 202, 220, 1);}
}

@keyframes EnchantingEffect {
    to {
        background-position: 200% center;
    }
}

.Pages {
    display: block;
    padding: 15px;
    color: #a0a0ff;
    text-shadow: 2px 2px 5px rgba(202, 202, 255, 0.4);
    background: -webkit-linear-gradient(#c5c5c5, #5d5d5d); /*#121111*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    float: left;
    opacity: 1;
    margin-top: 5px;
    transition: opacity 0.3s;
}

.Pages:hover {
    opacity: 0.2;
}

.Tabs {
    padding: 20px;
    color: #a0a0ff;
    text-shadow: 2px 2px 5px rgba(202, 202, 255, 0.4);
    background: -webkit-linear-gradient(#c5c5c5, #5d5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s;
}

.Tabs:hover {
    opacity: 0.2;
}

.LoginAndSignUp {
    float: right;
}

.NewNavigateBar {
    background-color: rgba(27, 23, 24, 1);
    border-radius: 8px;
    border-bottom: groove rgba(202, 202, 255, 0.3); /*rgba(202, 202, 255, 0.3)*/
    margin: 10px;
    margin-bottom: 5px;
    /*position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.ProductBox {
    background-color: rgba(37, 33, 34, 0.3);
    border-radius: 10px;
    outline: 1.5px solid rgb(67, 63, 64);
    float: left;
    width: 48%;
    padding: 10px;
    margin: 10px;
}

.AdminTableBox {
    background-color: rgba(37, 33, 34, 0.3);
    border-radius: 10px;
    outline: 1.5px solid rgb(67, 63, 64);
    text-align: center
}

.NewHeader {
    color: #a0a0ff;
    text-shadow: 0px 0px 10px rgba(202, 202, 255, 0.4);
    /*background: -webkit-linear-gradient(#adb0ff, #d1d3ff);*/

    background: linear-gradient(to right, rgba(54, 54, 54, 0.1) 20%, #adb0ff 40%, #adb0ff 60%, rgba(54, 54, 54, 0.1) 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: EnchantingEffect 2s linear infinite;
    font-size: 25px;
    padding: 15px;
    float: left;
    opacity: 1;
    transition: opacity 0.3s, text-shadow 0.2s, animation 0.1s;
}

.NewHeader:hover {
    opacity: 0.5;
    text-shadow: none;
    animation: none;
    background:-webkit-linear-gradient(#adb0ff, #363636);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BodyContainer {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.PageLoad {
    animation: OpenPage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.PageTitle {
    text-shadow: 2px 2px 5px rgba(202, 202, 255, 0.4);
    font-size: 30px;
}

.InputLoad {
    font-size: 15px;
}

.InputBox {
    margin-bottom: 10px;
    background-color: rgba(37, 33, 34, 0.5);
    border-radius: 6px;
    border: 1px solid rgb(67, 63, 64);
    transition: background-color 0.2s;
}

.InputBox:hover {
    background-color: rgba(10, 10, 10, 0.5); 
}

.Submit {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(37, 33, 34, 0.5);
    border-radius: 8px;
    border: 1px solid rgb(67, 63, 64);
    font-size: 18px;
    transition: background-color 0.3s;
}

.Submit:hover {
    background-color: rgba(10, 10, 10, 0.5); 
}

.ErrorOnLogIn {
    animation: OpenFadeError;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 15px;
}

.FixOverlap::after {
    content: "";
    clear: both;
    display: table;
}

.ListAnim {
    transition: all 0.1s;
}

.ListAnim:hover {
    transform: translateX(10px);
}

.CenterText {
    text-align: center;
}

.ButtonGet {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(37, 33, 34, 0.5);
    border-radius: 6px;
    border: 1px solid rgb(67, 63, 64);
    transition: background-color 0.3s, color 0.3s;
}

.ButtonGet:hover {
    background-color: rgba(10, 10, 10, 0.5); 
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.ButtonGet:visited {
    color: white;
    text-decoration: none;
}

.ImageOnHome {
    transition: transform .2s ease-in-out;
}

.ImageOnHome:hover {
  transform: scale(1.1);
}

.BoxOutLineCreate {
    background-color: rgba(37, 33, 34, 0.3);
    border-radius: 10px;
    outline: 1.5px solid rgb(67, 63, 64);
    padding: 10px;
}

@media screen and (max-width: 1100px) {
    .Pages {
        opacity: 0;
        /*display: none;*/
    }
}

/* need to use this to still have animations :D */
@media screen and (max-width: 1050px) {
    .Pages { 
        display: none;
    }
}

@media screen and (max-width: 1129px) {
    .ProductBox {
        width: auto;
        float: none;
    }
}
